:root {
  --bunker: #1f2833;
  --cyan: #66fcf1;
  --white: #ffffff;
  --dark-cyan: #45a29e;
  --red: #ff0000;
  --light-grey: #f3f3f3;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bunker);
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-loader {
  height: 80vh;
  width: 100%;
}

.main-container {
  margin: 0rem 7rem;
  min-height: 95%;
}

.container {
  flex-direction: column;
  min-height: 95%;
  width: 100%;
}

.container-shrink {
  display: flex;
  min-height: 30%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
  border-bottom: 5px dotted var(--red);
}

.logo {
  color: var(--cyan);
  margin-bottom: 3rem;
  font-size: 7rem;
  font-family: "Ribeye Marrow", cursive;
}

.logo-shrink {
  color: var(--cyan);
  font-size: 2.5rem;
  font-family: "Ribeye Marrow", cursive;
}

.search {
  width: 100%;
  text-align: center;
}

.search-bar {
  background-color: var(--white);
  width: 45rem;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 25px;
}

.search-btn {
  background-color: var(--cyan);
  margin-top: 1.5rem;
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  font-size: 1.5rem;
}

.search-btn-shrink {
  background-color: var(--cyan);
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  font-size: 1.5rem;
}

.no-outline:focus {
  outline: none;
}

.no-border {
  border: none;
}

button[type="submit"]:hover {
  cursor: pointer;
}

.loader {
  border: 16px solid var(--bunker);
  border-top: 16px solid var(--light-grey);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.root {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
  height: auto;
  flex-wrap: wrap;
}

.request-error-empty {
  color: var(--light-grey);
  font-size: 3rem;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0.2rem;
  padding: 0.5rem 0.2rem;
  width: 15rem;
  min-height: 22rem;
  border: 1.5px solid var(--white);
  border-radius: 5px;
}

.suggestion:hover {
  cursor: pointer;
}

.suggestion img {
  width: 85%;
  margin: 1.5rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  margin-bottom: 0.3rem;
}

.artist {
  text-align: center;
  color: var(--white);
  margin-bottom: 0.2rem;
  font-family: "Roboto", sans-serif;
}

.audio-preview {
  text-align: center;
}

.audio-preview a {
  color: var(--cyan);
  font-family: "Roboto", sans-serif;
}

.pagination {
  border-top: 5px dotted var(--red);
  margin-top: 1.25rem;
  width: 100%;
}

.page {
  color: var(--cyan);
  margin: 1rem;
  padding: 0.6rem 0.7rem;
  border: 1.5px solid var(--cyan);
  border-radius: 5px;
}

.page:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-selected {
  color: var(--white);
  border: 1.5px solid var(--white);
}

.lyrics {
  color: var(--white);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1060px) {
  .main-container {
    margin: 0rem 5rem;
    min-height: 95%;
  }

  .container-shrink {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    border-bottom: 5px dotted var(--red);
  }

  .search {
    width: 100%;
    text-align: center;
  }

  .search-bar {
    background-color: var(--white);
    width: 90%;
    margin: 1rem 0;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    border-radius: 25px;
  }
}

@media (max-width: 560px) {
  .main-container {
    margin: 0rem 0.7rem;
    min-height: 95%;
  }

  .container-shrink {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    border-bottom: 5px dotted var(--red);
  }

  .search {
    width: 100%;
    text-align: center;
  }

  .search-bar {
    background-color: var(--white);
    width: 18rem;
    margin: 1rem 0;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    border-radius: 25px;
  }

  .logo-shrink {
    color: var(--cyan);
    font-size: 1.9rem;
    font-family: "Ribeye Marrow", cursive;
  }

  .search-btn-shrink {
    background-color: var(--cyan);
    border-radius: 7px;
    padding: 0.15rem 0.4rem;
    font-size: 1.1rem;
  }

  .lyrics {
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1rem;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .logo {
    color: var(--cyan);
    margin-bottom: 2rem;
    font-size: 5rem;
    font-family: "Ribeye Marrow", cursive;
  }
}

@media (max-width: 560px) {
  .logo {
    color: var(--cyan);
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-family: "Ribeye Marrow", cursive;
  }
}
